    start
main_entry:
    pushn 2
    alloc 5
    storeg 0
    pushi 10
    pushi 1
    pushl 0
    swap
    pushi 1
    sub
    storen
    pushi 20
    pushi 2
    pushl 0
    swap
    pushi 1
    sub
    storen
    pushi 30
    pushi 3
    pushl 0
    swap
    pushi 1
    sub
    storen
    pushi 3
    storel 1
    pushl 0
    pushl 1
    pushi 1
    sub
    loadn
    storel 2
    pushl 2
    writei
    pushs "\n"
    writes
    stop
