    start
    jump main_entry
    jump Subtract_end
Subtract:
    pushl -1
    pushl -2
    sub
    storel -3
    return
Subtract_end:
main_entry:
    pushn 1
    pushn 1
    pushi 3
    pushi 10
    pusha Subtract
    call
    pop 2
    storel 0
    pushl 0
    writei
    pushs "\n"
    writes
    stop
